#footer{
    padding-top: 104px;
    img{
        max-height: 32px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        font-style: italic;
        margin-bottom: 50px;
        margin-bottom: 26px;
    }
    .footer1{
        list-style: none;
        
        padding: 0;
        line-height: 37px;
        li{
            line-height: 51px;
            margin: 0;
            letter-spacing: 1px;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 10px;
            font-family: $font-f;
            
            a{
                padding: 0;
                margin: 0;
                opacity: .5;
                transition: 0.2s linear;
                text-decoration: none;
                
            }
        }
    }
    .footer3{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        margin-bottom: 38px;
    }
    .text2{
        padding: 0;
        line-height: 30px;
    }
    .footer2{
        h6{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 13px;
            line-height: 10px;
            margin-bottom: 41px;
        }
        .form--merge{
            margin-bottom: 52px;
            
            button{
                margin-left: -4px;
                border-radius: 0 50px 50px 0;
                position: relative;
                margin: 0;
                background-color: blue;
                height: 52px;
                width: 60px;
                bottom: 3px;
                right: 5px;
            }
            .footer5{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 13px;
                line-height: 10px;
                margin-bottom: 41px;
            }
            .foter3{
                border-radius: 50px 0 0 50px;
                padding-left: 26px;
                height: 52px;
               
            }
        }
        
    }
    .finish{
        
        a{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #3d3d3d;
            display: inline-block;
            text-align: center;
            position: relative;
            z-index: 4;
            bottom: 25px;
            padding-top: 12px;
            i{
               
                color: white;
                font-size: 27px;
            }
        }
    }

}