$font-f: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$text-color-white: #fff;
$helper-color: #343434;
$helper-font-weight: 600;
$helper-font-size: 32px;
$helper-line-height: 60px;
$paraqraf-color: #767676;
$paraqraf-font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
$paraqraf-font-size: 24px;
$paraqraf-line-height: 35px;
$paraqraf-font-weight: 400;